<!doctype html>
<html>
  <head>
    <title>Tree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="tree">
    <%= render "shared/navbar" %>

    <div class="container">
      <% flash.each do |type, message| %>
        <% alert_class = case type
           when "notice" then "alert-success"
           when "alert" then "alert-danger"
           else "alert-warning"
           end %>
        <div class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
