<!DOCTYPE html>
<html>
  <head>
    <title>Tree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/gh/tbolt/boltcss/bolt.css" rel="stylesheet">
  </head>
  
  <header>
    <% flash.each do |message_type, message| %>
      <div class="<%= message_type %>"><%= message %></div>
    <% end %>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "My Account", account_path %></li>
         <li><%= button_to "Logout", logout_path, method: :delete %></li>
      <% else %>
         <li><%= link_to "Login", login_path %></li>
         <li><%= link_to "Sign Up", sign_up_path %></li>
         <li><%= link_to "Forgot my password", new_password_path %></li>
         <li><%= link_to "Didn't receive confirmation instructions", new_confirmation_path %></li>
      <% end %>
    </ul>
    <hr/>
  </header>

  <body id="tree">
    <%= yield %>
  </body>
</html>
